<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Career Services Department</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}


    <h3> Career Services Department : </h3>
    <p> You can mail us your query using the form below : </p>
    <form method="post">
        {%csrf_token%}
        {{email_form.as_p}}
        <button type="submit">Send Mail</button>
    </form>
    <a href="/">Home</a>
</body>
</html>

<!--Fields are subject and body-->