{% extends "header.html" %}
{% block content %}
{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{%if user.username %}
    <p>Welcome {{user.first_name}}! </p>
    <a href="profile">view profile</a>      
    <a href="logout">logout</a>
    <a href="settings">settings</a>
    <a href="questionanswer"> q &amp; a</a>
    <a href="event">events</a>
    <a href="people">people</a>
    <a href="careerservicesdepartment">Career Services Department</a>
{%endif%}
<!--Photo references-->
<div class="row">
	<h3>alumni team/top alumni</h3>
	<div class="col-md-3">
		<img src= "#" class="img-circle" alt="p1">
		<p>Anmol Jindal<br>dean alumni associaton<br>III year</p>	
	</div>
	<div class="col-md-3">
		<img src="#" class="img-circle" alt="p1">
		<p>Siddhartha jha<br>alumni relations manager<br>III year</p>	
	</div>
	<div class="col-md-3">
		<img src="#" class="img-circle" alt="p1">
		<p>Mohak verma<br>sr secretary<br>III year</p>	
	</div>
	<div class="col-md-3">
		<img src="#" class="img-circle" alt="p1">
		<p>ek aur banda<br>uski post<br>aur kuch aur</p>	
	</div>
</div>
<hr class="featurette-divider">
<div class="row">

	<!--testimonials-->
	<div class="col-md-8">
		<h2>Testimonials</h2>
		<div class="container-fluid">
			<h3>Testimonial 1</h3>
			<p>something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefully</p>
		</div>
		<div class="container-fluid">
			<h3>Testimonial 1</h3>
			<p>something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefully</p>
		</div>
		<div class="container-fluid">
			<h3>Testimonial 1</h3>
			<p>something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefullysomething is said here please read all the documents carefully</p>
		</div>
		<div class="container-fluid">
			<h3>Testimonial 1</h3>
			<p>something is said here please read all the documents carefully.something is said here please read all the documents carefully.something is said here please read all the documents carefullysomething is said here please read all the documents carefully</p>
		</div>		
	</div>

	<!--events-->
	<div class="col-md-4">
		<h3>Events</h3>
		<div class="container-fluid">
			<h3>Event 1</h3>
			<p>location</p>
			<p>date</p>
			<p>time</p>
			<img src="" alt="gliphicon +">
		</div>
		<div class="container-fluid">
			<h3>Event 1</h3>
			<p>location</p>
			<p>date</p>
			<p>time</p>
			<img src="" alt="gliphicon +">
		</div>
	</div>
	<!--memories grid-->
	<div class="col-md-8">
		<h3>Memories</h3>
	</div>
	<!--news-->
	<div class="col-md-4">
		<h3>News</h3>
		<div class="row">
			<div class=""></div>
		</div>
	</div>
</div>
{% endblock %}