<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>People</title>
</head>
<body>
    <h3> People :</h3>
    {% for u in user %}
    <ul>
        {%if not u.is_superuser %}
            <li> Name : <a href="{% url 'view_profile4' pk2=u.pk %}">{{u.get_full_name}} </a> </li>
            {%if u.profile.pic %}
                <li> DP :<img src="{{u.profile.pic.url}}" alt="can't display" height="50" width="50" /> </li>
            {% endif %}
        {% endif %}
    </ul>
    {% endfor %}
    <a href="/"> Home</a>
</body>
</html>