<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Upload Image</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h3> Upload image for event : </h3>
    <p> Event title : {{eve.title}} </p>
    <p> Event description : {{eve.description}} </p>
    <form enctype="multipart/form-data" method="post">
        {%csrf_token%}
        {{image_upload_form.as_p}}
        <button type="submit"> Upload </button>
    </form>
</body>
</html>

<!-- field is pic-->