{% extends "header.html" %}

{% block style %}
.event {
    border:1px solid #eee;
    padding:40px;
    margin-top:10px;
    border-radius:5px;
    border-left-color: #1b809e;
    border-left-width: 5px;
    background-color: #f7f7f9;
}

.in-detail {
    border:1px solid #ddd;
    border-radius:3px;    
    background-color:#fff;
    padding-left:5px;
    text-align:center;
}

.inva-a, .inva-a:hover {
    color:inherit;
    text-decoration: none;
}
{% endblock %}

{% block content %} 

    <h1>  Events  </h1>
    
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">  
            <li role="presentation" class="active"><a href="/event">Events Home</a></li>
            <li role="presentation" ><a href="/event/createevent">Create Event </a></li>
            <li role="presentation" ><a href="/event/myevents">My Created Events</a></li>
            <li role="presentation" ><a href="/event/registeredevents">Registered Events</a></li>
        </ul>
    </div>
    <div class="col-md-9">
    {%if eve %}
        {% for e in eve %}
            <div class="row event">
            <div class="col-md-3">
                <div class="row">
                    <img src="{{e.icon.url}}" alt="cannot display" height="100" width="100" class="center-block img-responsive img-rounded" />
                </div><hr>
                <div class="row">
                <center>
                    <img src="{{e.user.profile.pic.url}}" alt="can't display" height="50" width="50" class="img-responsive img-rounded"/>
                    <a href="{% url 'view_profile2' pk2=e.user.pk %}">{{e.user.get_full_name}} </a> 
                </center>
                </div>
            </div>
            <div class="col-md-9 in-detail">
                <div class="row">
                    <h2><a href="{% url 'view_event1' pk1=e.pk %}"> {{e.title}} </a></h2> 
                </div>
                <div class="row">
                    <b>Agenda :</b> {{e.description}}
                </div>
                <div class="row">
                    <b>Event Date :</b> {{e.date}}
                </div>
                <div class="row">
                    <b>Event Time :</b> {{e.time}}
                </div>
                <div class="row">
                    <b>Event Venue :</b> {{e.venue}}
                </div>
            </div>
                {%if not e.user == user %}
                    <a href="{% url 'register_for_event' pk3=e.pk %}" class="btn btn-primary inva-a"> Register </a>               
                {% endif %}
            </div>
         {% endfor %}
     {%else%}
        <p> No events to display </p>
    {% endif %}
    </div>
{% endblock %}