<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Profile </title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <h1> Profile : </h1>
    <h2> Name : {{user.get_full_name}}</h2>
    <ul>
        <li> Username : {{user.username}}</li>
        <li> Dp : <img src="{{user.profile.pic.url}}" alt="can't display" height="100" width="100" />
        <li> Email : {{user.email}}</li>
        <li> Bio : {{user.profile.bio}}</li>
        <li> DOB : {{user.profile.birth_date}}</li>
        <li>Batch : {{user.profile.batch}}</li>
        <li> City : {{user.profile.city}}</li>
        <li> Organization : {{user.profile.organization}}</li>
        <li> Website : {{user.profile.website}}</li>
    </ul>
    <a href="/profile/editprofile"> Edit Profile</a>
    <a href="/">Home</a>
</body>
</html>