{% extends 'header.html' %}
{% block title %}
<title>Your Testimonials</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <center><h2 style="color: #666;font-family:Palatino Linotype;"><i>&quot;{{testimonial.content}}&quot;</i></h2></center>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="/profile/viewtestimonial/">View Testimonials</a></li>
                <li role="presentation"><a href="/profile/writetestimonial/">Write Testimonials</a></li>
                <li role="presentation"><a href="/questionanswer/viewaskedquestions/">Asked Questions</a></li>
            </ul>
        </div>
    </div>
{% endblock %}