<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Write Testimonial</title>
</head>
<body>
    <h1>write a testimonial</h1>
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="">
        {%csrf_token%}
        {{testimonial_form.as_p}}
        <button type="submit">Save </button>
    </form>
</body>
</html>