{% extends "registration/base.html" %}
{% block formfields %}

	#id_username, #id_password {
		border-radius: 5px;
	}

{% endblock %}


{% block error %}

	{% if form.errors %}
    	<p class="errormsg">Your credentials did not match. Please try again</p>
    {% endif %}
    
    {% if messages %}
        {% for message in messages %}
			{% if message.tags %}
				<p class="{{ message.tags }} errormsg">{{ message }}</p>
			{% else %}
        		<p class="errormsg">{{ message }}</p>
        	{% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}
	<center><h2>Please Sign In</h2></center><br>
	<div class="form-group">
        <label for="id_username">Username  </label> {{form.username}}
	</div>
	<div class="form-group">
        <label for="id_password">Password  </label> {{form.password}}
	</div>
	<a href="/password_reset" class="btn btn-link">Forgot Password?</a>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<a href="http://127.0.0.1:8000/login/register" class="btn btn-lg btn-primary btn-block">Register</a>
		</div>
	</div>
{% endblock %}