{% extends "registration/base.html" %}

{% block size %}
	min-width: 200px;
	max-width: 400px;
	height: 440px;
{% endblock %}

{% block formfields %}
	#id_username, #id_email, #id_password1, #id_password2 {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
        float:right;
	}
    ul {
        display:inline;
    }
    ul li {
        list-style:none;
        display:inline;
    }
{% endblock %}

{% block error %}
	{% if messages %}
        {% for message in messages %}
			{% if message.tags %}
				<p class="{{ message.tags }} errormsg">{{ message }}</p>
			{% else %}
        		<p class="errormsg">{{ message }}</p>
        	{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
	<center><h2>Registration Form</h2></center><br>
    <form method="post" action="">
    <div class="registerList">
	    <div class="form-group" id="username" class="register">
            <label for="id_username">Username</label> {{ form.username }} {{form.username.errors}}
        </div>
        <div class="form-group" id="email" class="register">
            <label for="id_email">Email Address</label> {{ form.email }} {{form.email.errors}}
        </div>
        <div class="form-group" id="password1" class="register">
            <label for="id_password1">Password</label> {{ form.password1 }} {{form.password1.errors}}
        </div>
        <div class="form-group" id="password2" class="register">
            <label for="id_password2">Confirm Password</label> {{ form.password2 }} {{form.password2.errors}}
        </div>
        <div class="form-group" id="group" class="register">
            <label for="id_group">Group</label> {{form.groupname}}            
        </div>
        <br>
        <center><input type="submit" value="Register" class="btn btn-lg btn-success btn-block" /></center>
    </div>
    </form>
{% endblock %}