{% extends 'header.html' %}
{% block title %}
<title>{{user.get_full_name}} | Alumni Support System</title>
{% endblock %}

{% block style %}
input {
    width:100%;
    height:100%;
    outline:none;
    border:none;
}
{% endblock %}

{% block content %}
        <br><br>
    <div class="row">
        <div class="col-md-3">
            <img src="{{user.profile.pic.url}}" alt=":/" class="img-responsive img-rounded center-block">
            
            <center><h3 class="center-block">{{user.get_full_name}}</h3></center>
            
            <hr>
            <ul class="nav nav-pills nav-stacked">  
                <li role="presentation"><a href="/profile">View Profile</a></li>
                <li role="presentation"><a href="/profile/editprofile">Edit profile</a></li>
                <li role="presentation" class="active"><a href="/settings/changepassword">Change Password</a></li>
                <li role="presentation"><a href="/settings/deleteuser">Delete User</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                    <h2>{{user.get_full_name}}</h2>
            </div>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div class="row input-group">
                        <span class="input-group-addon">Old Password</span>
                        <span class="form-control">{{form.old_password}}</span>
                    </div>
                    <div class="row input-group">
                        <span class="input-group-addon">New Password</span>
                        <span class="form-control">{{form.new_password1}}</span>
                    </div>
                    <div class="row input-group">
                        <span class="input-group-addon">Confirm New Password</span>
                        <span class="form-control">{{form.new_password2}}</span>
                    </div><br>
                    <!--{{ form.as_p }}-->
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

<!-- fields : 
        old password
        new password
        new password confirmation 
-->