<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Post Answer</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <h3>Write your answer here</h3>
    <p>{{ques.title}}</p>
    <p>{{ques.description}}</p>
    <form method="post" action="">
        {%csrf_token%}
        {{answer_form.as_p}}
        <button type="submit">Save</button>
    </form>
</body>
</html>