<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Post Question</title>
</head>
<body>
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3> Post your question</h3>
    <form method="post" action="">
        {%csrf_token%}
        {{question_form.as_p}}
        <button type="submit">Post</button>
    </form>
</body>
</html>

<!-- form fields : title, description -->