<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Question &amp; Answer</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h3> Questions : </h3>
    {% for q in ques %}
    <ul>
        <li>
            <p> Question : {{q.title}} </p>
            <p> Question Description : {{q.description}}</p>
            <a href="{% url 'post_answer' pk=q.pk %}"> Answer </a>
            <a href="{% url 'view_answer' pk=q.pk %}"> View Answers </a>
        </li>
    </ul>
    {% endfor %}
    <a href="/questionasnwer/askquestion"> Ask question</a>
    <a href="/questionanswer/viewaskedquestions"> Your Questions</a>
    <a href="/questionanswer/viewansweredquestions"> Your Answers </a>
    <a href="/questionanswer/viewunansweredquestions"> Answer questions</a>
    <a href="/">home</a>

</body>
</html>

<!-- extra fields : user , pub_date-->