<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Answer</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}


    Question Title : {{ques.title}}
    Question Description : {{ques.description}}
    {% for a in ans%}
    <ul>
        <li>
            {{a.answer}}
            
        </li>
    </ul>
    {% endfor %}
    <a href="/questionanswer"> Go to q &amp; a </a>
</body>
</html>

<!-- extra fields : user , pub_date-->